{% extends 'MirageAdminBundle::layout.html.twig' %}
{% block contents %}
    <div id="content">
        <h1>Summon Editer</h1><br><br>
        <select id="idSelector" class="" onchange="All.changeIdSelector()">
            {% for summon in allSummons %}
                <option value="{{ summon.idSummon }}">ID. {{ summon.idSummon }} {{ summon.idSummon | str('summon','name') }} </option>
            {% endfor %}
        </select>
        <button class="button accept" onclick="All.load()">소환 불러오기</button>
        <button class="button" onclick="All.create()">소환 신규제작</button>
        <br>

        <form id="load">
            <input id='loadId' type="number" name="id" hidden>
        </form>

        {#<form id="delete" action="{{url('skill_delete') }}">#}
            {#<input id='deleteId' type="number" name="id" hidden>#}
        {#</form>#}

        {% if editSummon is not null%}
            {% include 'MirageAdminBundle:Summon:editer.html.twig' with {"summon" : editSummon, "form" : form, "rates": rates} %}
        {%  endif %}
    </div>
{% endblock contents %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('/bundles/admin/js/jquery-2.1.4.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('/bundles/admin/js/all.js')}}" type="text/javascript"></script>
    <script src="{{asset('/bundles/admin/js/summon.js')}}" type="text/javascript"></script>

{% endblock %}