{% extends 'MirageAdminBundle::layout.html.twig' %}
{% block contents %}
    <div id="content">
        <h1>니 오늘 운세</h1><br>
        {% for result in results %}
            {{ result.rendEndStr }} <b> {{ result.item.idPhase |str('phase', 'name') }}{% for i in 1..result.item.grade %}★{% endfor %}</b><br>
            <b>{{ result.item.type|phaseType}}</b>
            <b>공</b>{{ result.item.atk}} <b>방</b>{{result.item.def}} <b>속</b>{{result.item.agi}} <b>운</b>{{result.item.con}}<br>
            <br>
        {% endfor %}

        <a href="{{url('summon_testin')}}">돌아가기</a>
    </div>
{% endblock contents %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('/bundles/admin/js/jquery-2.1.4.min.js')}}" type="text/javascript"></script>
{% endblock %}