{% extends 'MirageAdminBundle::layout.html.twig' %}
{% block contents %}
    <div id="content">
        메모리정보
        {% for key1, stat in stats %}
            <b>{{ key1 }}</b><br>
            {% for key, value in stat %}
                <b>{{ key }}</b>  : {{ value }} <br>
            {% endfor %}
        {% endfor %}

        <a href="{{url('cache_load_arks')}}">모든 아크를 캐쉬에 때려박는당!!</a><br>
        <a href="{{url('cache_flush_all')}}">맴캐쉬에 있는 모든 걸 지운당!!</a><br>


    </div>
{% endblock contents %}

{% block javascripts %}
{{ parent() }}
<script src="{{asset('/bundles/admin/js/jquery-2.1.4.min.js')}}" type="text/javascript"></script>
{% endblock %}