<div id="bg">

    {{ form_start(form) }}
    {{ form_row(form.idEnc) }}
    <br>
    <b>배경</b><br>
    {{ form_row(form.idBgNear) }}
    {{ form_row(form.speedBgNear) }}
    {{ form_row(form.idBgMid) }}
    {{ form_row(form.speedBgMid) }}
    {{ form_row(form.idBgFar) }}
    {{ form_row(form.speedBgFar) }}
    <b>맵정보</b><br>
    {{ form_row(form.idBgm) }}
    {{ form_row(form.idTile) }}
    {{ form_row(form.mapLength) }}
    {{ form_row(form.startDay) }}
    {{ form_row(form.endDay) }}



{#{% if form.vars.value.idEnc != 0 %}
    <table id="field" style="width:{{form.vars.value.mapLength*108}}px" data-prototype="{{form_widget(form.tiles.vars.prototype)|e('html_attr') }}">
        <tr>
            <th></th>
            {% for y in form.vars.value.mapLength+1 ..1 %}
                {% if y == form.vars.value.mapLength + 1 %}{% else %}
                    <th>{{ y }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        {% for x in 1..3 %}
            {% if x == 1 %} {% set xpos = "a" %} {% endif %}
            {% if x == 2 %} {% set xpos = "b" %} {% endif %}
            {% if x == 3 %} {% set xpos = "c" %} {% endif %}

            <tr>
                {% for y in form.vars.value.mapLength..1 %}
                    {% if y == form.vars.value.mapLength %}
                        <th>{{ xpos }}</th>
                    {% endif %}
                    <td class="mapTd">
                        <div class="tileBlock" >
                        {% for tile in form.tiles %}
                            {% if tile.vars.value.location == xpos~y %}
                                <div class="tiles terrain{{tile.vars.value.terrain}}">
                                {{ form_widget(tile.enemy.idEnemy) }}<br>
                                {{ form_widget(tile.terrain) }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </td>
                {% endfor %}
            </tr>

        {% endfor %}
    </table>
{% else %}
    {{ form_row(form.tiles) }}
{% endif %}
#}
    <b>배치정보</b><br>
    <font color="red">*** 처음 작성할 땐 타일즈, 트리거즈를 비운 상태로 작성. 이후 다시 불러온 뒤 추가버튼을 통해서 삽입할 것.</font>
<br>
    {{ form_row(form.tiles) }}
    {{ form_row(form.triggers) }}

    {{ form_row(form.reward) }}

    {{ form_row(form.isEnabled) }}
    {{ form_row(form.save) }}



    {{ form_end(form) }}
</div>


<button class="button">조우 비활성화</button>
<button class="button cancle">조우 삭제</button>


<script>

</script>