{% extends 'MirageMainBundle::layout.html.twig' %}

{# empty Twig template #}

{% block stylesheets %}	
    {{ parent()}}

{% endblock %}

{% block contents %}        
<h1>미라쥬크로니클 비밀번호 변경</h1>

{% for flashMessage in app.session.flashbag.get('change') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}  

{{form_start(form)}}    
닉네임 {{user.nick}}<br>
아이디 {{user.username}}<br>
새 비밀번호 {{form_widget(form.password)}}{{form_errors(form.password)}}<br>
{{ form_widget(form) }}    <br>

{{form_end(form)}}    


{% endblock %}
