<div id="sidebar">
    <b>Apocripha Scrabs</b><br><br>

    <a href="{{ url('ark_index') }}">
        <div class="sbox">아크 에디터</div>
    </a><br>
    <a href="{{ url('skill_index') }}">
        <div class="sbox">스킬 에디터</div>
    </a><br>
    <a href="{{ url('encounter_index') }}">
        <div class="sbox">조우 에디터</div>
    </a><br>
    <a href="{{ url('deck_index') }}">
        <div class="sbox">덱 에디터</div>
    </a><br>
    <a href="{{ url('deal_index') }}">
        <div class="sbox">전투 테스트</div>
    </a><br>
    <a href="{{ url('summon_index') }}">
        <div class="sbox">소환 에디터</div>
    </a><br>
    <a href="{{ url('summon_testin') }}">
        <div class="sbox">가챠 테스트</div>
    </a><br>
    <a href="{{ url('shop_index') }}">
        <div class="sbox">상점 에디터</div>
    </a><br>
    <a href="{{ url('ws_index') }}">
        <div class="sbox">웹소켓 테스트</div>
    </a><br>
    <a href="{{ url('equipment_index') }}">
        <div class="sbox">장비 에디터</div>
    </a><br>
    <a href="{{ url('item_index') }}">
        <div class="sbox">아이템 에디터</div>
    </a><br>
    <a href="{{ url('reward_index') }}">
        <div class="sbox">리워드 에디터</div>
    </a><br>
    <a href="{{ url('enemy_index') }}">
        <div class="sbox">에너미 에디터</div>
    </a><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="{{ url('cache_index') }}">
        <div class="sbox">맴캐쉬맴맴</div>
    </a><br>

</div>